/* CSS Document */


html {
	font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header, #footer, #siderbar, #crumbs, .hero, #adventurehero, #slideshow, #footer fieldset, .ajaxload, .share {
	display: none;
}

#printlogo {
	display: block;
	text-align: center;
}
a {
	color: #990000;
	font-weight: bold;
	text-decoration: none;
}
img {
	display: block;
	margin-bottom: 1em !important;
	border: none;
}
h5 {
	font-size: 100%;
}