/* CSS Document */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
	src: local('BebasNeue'),
		 url('fonts/BebasNeue-webfont.eot?iefix') format('eot'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#webfontfvFLBU0N') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
	height: 100%;
}
body {
	/*
	background: #f9f2e9 url(images/map.jpg);
	*/
	background: #F9F2E9;
	font: 13px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	height: 100%;
	position: relative;
}

div#mapbg{
	background: #f9f2e9 url(images/map.jpg);
}

#printlogo {
	display: none;
}
a {
	color: #990000;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.more {
	font-size: 10px;
	text-transform: uppercase;
}
h1 {
	font: 48px/41px "BebasNeueRegular";
	text-transform: uppercase;
	color: #666;
}
h2 {
	font: bold 24px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
}
h3, .widget h2 {
	font: bold 18px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
}
h4 {
	font: bold 14px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	text-transform: uppercase;
}
h5 {
	font: bold 13px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
}
p, h6 {
	padding-bottom: 21px;
}
hr {
	border: 0;
	height: 1px;
	background-color: #d7d7d7;
	color: #d7d7d7;
	margin: 10px 0 21px 0;
	clear: both;
}
input {
	font: 10px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
}
.floatleft {
	float: left;
	margin: 0 10px 41px 0;
}
.floatright {
	float: right;
	margin: 0 0 21px 10px;
}
img.shadow {
	height: 119px;
	width: 184px;
	-moz-box-shadow: 0px 0px 5px #666;
	-webkit-box-shadow: 0px 0px 5px #666;
	box-shadow: 0px 0px 5px #666;
	clear: left;
}
#header {
	background: url(images/headerbg.png) repeat-x;
	height: 113px;
	margin-bottom: -15px;
	z-index: 2;
	position:relative;
}
div.logo {
	float: left;
	width: 214px;
	height: 66px;
	background: url(images/logo.png) no-repeat;
	text-indent: -9999px;
	margin: 2px 12px 0 0;
}
div.logo a {
	display: block;
	width: 100%;
	height: 100%;
}
#requestGuide {
	display: block;
	float:right;
	background: url(images/requestguide.png) no-repeat;
	height: 9px;
	width: 116px;
	text-indent: -9999px;
	margin: 10px 3px 0 0;
	padding-right: 5px;
	border-right: #993300 1px solid;
}
#contactUs {
	display: block;
	float:right;
	background: url(images/contactus.png) no-repeat;
	height: 9px;
	width: 55px;
	text-indent: -9999px;
	margin: 10px 18px 0 2px;
}
#nav {
	font: 18px/20px "BebasNeueRegular";
	letter-spacing: 1px;
}
#nav ul {
	margin-top:30px;
}
#nav ul li {
	float: left;
	margin: 0 16px;
	padding-bottom: 0px;
}
#nav ul li {
	display: block;
	height: 20px;
}
#nav ul li a {
	display: block;
	height: 100%;
	width: 100%;
}
#nav ul li.cat-item-3 {
	width: 114px;
	background: url(images/navsprite.png) 0 0 no-repeat;
	text-indent: -9999px;
}
#nav ul li.cat-item-8 {
	width: 77px;
	background: url(images/navsprite.png) 0 -30px no-repeat;
	text-indent: -9999px;
}
#nav ul li.cat-item-9 {
	width: 99px;
	background: url(images/navsprite.png) 0 -60px no-repeat;
	text-indent: -9999px;
}
#nav ul li.cat-item-4 {
	width: 80px;
	background: url(images/navsprite.png) 0 -90px no-repeat;
	text-indent: -9999px;
}
#nav ul li:hover {
	padding: 0 0 10px 0;
}
#nav ul li.cat-item-3.current-cat {
	background-position: -120px 0;
	padding: 0 0 10px 0;
}
#nav ul li.cat-item-8.current-cat {
	background-position: -120px -30px;
	padding: 0 0 10px 0;
}
#nav ul li.cat-item-9.current-cat {
	background-position: -120px -60px;
	padding: 0 0 10px 0;
}
#nav ul li.cat-item-4.current-cat {
	background-position: -120px -90px;
	padding: 0 0 10px 0;
	margin-right: 0;
	width: 96px;
}
#nav a:hover {
	text-decoration: none;
}
#nav form {
	padding-top: 4px;
}
#nav form input {
	float: right;
	width: 162px;
}
.default_value {
	background: #fff url(images/searchglass.gif) right top no-repeat;
	padding: 2px 16px 2px 2px;
	border: 1px solid #666;
	width:140px;
	height: 12px;
	line-height: 12px;
}
img.hero {
	padding-bottom: 18px;
	margin-left: -10px;
	margin-top: -18px;
}
#adventurehero {
	width: 980px;
	margin-left: -10px;
	padding-bottom: 18px;
	margin-top: -18px;
}
#container {
	z-index: 1;
	background: #e0c7af url(images/map.jpg) 980px 0;
	position:relative;
}
.container_12, .container_16 {
	padding: 18px 10px;
	position: relative;
}
#container .container_12, #container .container_16 {
	padding-top: 18px;
	padding-right: 110px;
	background: url(images/paper.png) repeat-y;
	position: relative;
}
#homepaper {
	background: transparent url("images/paper.png") scroll 616px 0 repeat-y;
}
#homecontainer {
	z-index: 1;
	background: transparent url("images/backgrounds/1.jpg") 0 -100px no-repeat;
	height: 100% !important;
	height: auto;
	min-height: 850px;
	max-height: 1200px;
	padding-top: 50px;
	position: relative;
}
.hometext p {
	color: #fff;
	font-size: 19px;
	line-height: 1.em;
}
.hometext h3 {
	display: block;
	width: 423px;
	height: 69px;
	background-image: url("images/adventure.png");
	text-indent: -9999px;
}
img.frame {
	display: block;
	height: 123px;
	width: 185px;
	padding: 15px;
	background: url(images/frame.png) no-repeat;
}
div.callToAction {
	width: 191px;
	height: 135px;
	background: transparent url(images/banner_bg.png) top left no-repeat;
	/* opacity: 0.7;
	-moz-opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-box-shadow: 0 0 5px #000; */
	width: 191px;
	height: 193px;
	float: left;
	padding: 0px;
	margin: 10px 9px 10px 0;
}
.greenbar, .yellowbar {
	width: 191px;
	height: 30px;
	margin-bottom: 6px;
}
.greenbar { background-color: #a1a97a; }
.yellowbar { background-color: #d5bc7a; }
div.callToAction h2 {
	text-align: center;
	font-size: 18px;
}
div.actionGreen h2, div.actionGreen p {
	color: #656d3c;
}
div.actionYellow h2, div.actionYellow p {
	color: #b9aa81;
}
div.callToAction p {
	padding: 5px;
	line-height: 16px;
	font-size: 11px;
}
div.callToAction {
	
}

#footer {
	width: 100%;
	min-height: 150px;
	background: #f9f2e9;
	clear: both;
	font: 10px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#footerhome {
	width: 100%;
	height: 150px;
	background: #f9f2e9;
	clear: both;
	font: 10px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: absolute;
	bottom: 0;
	left: 0;
}
#footer ul a, #footerhome ul a {
	text-transform: uppercase;
	color: #666;
}
ul.zebra li.odd {
	background: #eaf3fc;
}
ul.zebra li {
	padding: 10px;
	clear: both;
}
ul.zebra li p {
	padding-bottom: 0px;
}
div.excerpt {
	clear: left;
	padding-bottom: 20px;
}
p.date {
	padding-bottom: 0;
	text-transform: uppercase;
	font-weight: bold;
}
div#crumbs {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 18px;
}
p.url {
	margin-top: -21px;
}
.bigsearch {
	margin: 18px 0;
	padding: 2px 16px 2px 2px;
	width: 340px;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
}
p.auxnav a {
	text-transform: uppercase;
	color: #333;
	letter-spacing: .1em;
}
.clearleft {
	clear:left;
}
#eventspromo li {
	padding: 0 0 18px 0;
	background: none !important;	
}
#eventspromo h3 {
	font: bold 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	text-transform: uppercase;	
}
.postbox {
	height: 160px;
	line-height: 18px;
}
#column2 h3 {
	clear: left;
}


/* ---------- Forms ---------- */

.requestform, .success {
	padding:10px;
	color:#333333;
	margin-bottom:20px;
}
.requestform input {
	color:#666666;
	font-size: 12px;
	padding: 4px;
}
.requestform label{
	font-size: 13px;
	color:#555555;
	width: 100%;
	float: left;
}
label.error {
	float: none;
	color: red;
	padding-left: .5em;
	vertical-align: top;
}


/* ---------- Image Carousel ---------- */
#container {
	position: relative;
}
div#slideshow {
	width: 980px;
	height: 370px;
	overflow: scroll; /* Allows the slides to be viewed using scrollbar if Javascript isn't available */ 
	position: relative;
	margin: -18px 0 0 -10px;
	padding: 0;
	z-index: 5;
}
div#slideshow ul#nav {
	display: none;
	list-style: none;
	position: relative;
	top: 315px;
	z-index: 15;
}
div#slideshow ul#nav li#prev {
	float: left;
	margin: 0 0 0 20px;
}
div#slideshow ul#nav li#next {
	float: right;
	margin: 0 30px 0 0;
}
div#slideshow ul#nav li a {
	display: block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
}
div#slideshow ul#nav li#prev a {
	background: url(images/arrow-left.png) center center no-repeat;
}
div#slideshow ul#nav li#next a {
	background: url(images/arrow-right.png) center center no-repeat;
}
div#slideshow ul#slides {
	list-style: none;
}


.pagination a, .pagination span{
	padding: 0px 5px;
}


/* ******************************************** */

.search-results{
	width: 1090px;
	background: transparent url("images/paper.png") repeat-y;
	position: relative;
}

.search-results td{
	vertical-align: top;
}

.search-categories{
	width: 275px;
}

.search-categories div{
	padding: 20px;
}

.search-categories h2{
	font-size: 15px;
	border-bottom: 1px solid #888;
}

.search-categories h3{
	font-size: 13px;
}

.search-listings{
	padding-right: 150px;
	position: relative;
}

#google_map{
	height: 350px;
	border: 1px solid #eee;
	width: 628px;
	position: relative;
	clear: both;
	z-index: 10;
	zoom: 1!important;
}

.search-categories .selected{
	color: #666;
}

.pagination{
	padding: 10px;
	text-align: right;
}

.zebra .address{
	display: none;
	clear: both;
}

.item-content{
	float: left;
	width: 500px;
}

.marker{
	float: left;
	width: 40px;
}

.zebra li{
	overflow: auto;
}

.zebra li h3{
	font-size: 16px;
}

.dd-city{
	margin: 0px 15px;
}


.search-listings-form{
	padding: 10px;
	display: block;
}

.search-listings-form h2 {
	float: left;
	font: bold 24px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	text-transform: uppercase;
	margin: 2px 0;
}

.searched-for{
	font-style: italic;
	color: #999;
	padding: 0px 10px 10px 10px;
}


.full-detail h2{
	margin-bottom: 10px;
}

.full-detail h3{
	margin-bottom: 10px;
}

ul.moreinfo{
	padding: 0px 0px 0px 15px;
	margin: 10px 0px;
	list-style-type: disc;
}


#search_results{
	padding-bottom: 50px;
}

.adventure .share{
	float: right;
	width: 180px;
}
.full-detail .share{
	margin-bottom: 10px;
}